body {
    background-color: black;
    font-size: 17px;
    color: white;
    padding: 0;
}

.panel {
    display: flex;
    flex-wrap: nowrap;

    width: 800px;
    margin: 5px;
    padding-left: 5px;

    background-color: rgb(50, 50, 50);
    border-color: #ddd;
}


a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFFFFF;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background: #FFFFFF;
    color: #2D2D2D;
}





.price {
    font-size: 25px;
}

.price-display {
    font-weight: bold;
    text-align: center;
}

span {
    color: orange;
}

.up {
    color: green;
}

.down {
    color: red;
}

.exchange {
    color: #42f492;
}